
.content {
    background-color: #34464C;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitePart {
    position: absolute;
    width: 250px; 
    height: 197.5%; 
    background-color: #F2F2F2;
    left: 70%; 
    transform: translateX(-50%);
}

.slider {
    position: relative;
    z-index: 1; 
}
.container{
    color:#76ABAE;
    background-color: #76ABAE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin:20px;
}
.uppercaseText {
    text-transform: uppercase;
}